<h2><%= @user.name %> Articles</h2>
<table>
  <thead>
  <th>Title</th>
  <th>Content</th>
  <th>Delete</th>
  </thead>
  <tbody>
  <%- @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= button_to "Delete", {controller: :articles, action: :destroy, id: article.id}, method: :delete %></td>
    </tr>
  <%- end %>
  </tbody>
</table>
<%= link_to 'New Article', new_article_path %>
